#login-modal .modal-content {
    width: 500px;
    padding-bottom: 50px;
}

#login-modal .wallet-input,#withdraw-form .form-group{
    position: relative;
}

#login-modal .input-group-append,#withdraw-form .input-group-append{
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(1.5em + 0.75rem + 2px);
}

#login-modal .input-group-append button,#withdraw-form .input-group-append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.user-wraper .address{
    overflow: hidden;
    text-overflow: ellipsis;
}



